<!DOCTYPE html>
<html>
<head>
  <title>VT Class Listing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<%= render 'shared/main_menu' %>
<div class="container">
	<div class="row">
<%= yield %>
</div>
</div>

</body>
</html>
